/* Sidebar.css */
.sidebar {
  width: 100px; /* Set the desired width for the sidebar */
  height: 100%; /* Set the height to fill the entire height of the browser window */
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0; /* Align the sidebar to the left side of the window */
  transition: width 0.3s ease-in-out; /* Apply a transition effect for smooth resizing */
  z-index: 9999;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.logo.expanded {
  width: 32px;
}

.logo.collapsed {
  width: 0;
}

.toggle-button {
  padding: 6px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.user-profile {
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-details {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.profile-details.expanded {
  width: 52px;
  margin-left: 10px;
}

.profile-details.collapsed {
  width: 0;
}

.name {
  font-weight: bold;
}

.sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 1px 0;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item.active {
  background: linear-gradient(to top right, #c4d4fe, #d5e0fe);
}

.menu-text {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-text.expanded {
  margin-left: 10px;
}

.menu-text.collapsed {
  margin-left: 0;
}

.alert-dot {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4b97ff;
}

.alert-dot.top {
  top: 10px;
}

.hover-tooltip {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #dbe5fe;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar-item:hover .hover-tooltip {
  opacity: 1;
}
